<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--
	<bean id="customerService" class="service.customer.CustomerServiceImpl">
		<property name="customerRepository" ref="customerDAO"/>
		<property name="emailSender" ref="emailSender"/>
	</bean>
	<bean id="emailSender" class="integration.EmailSenderImpl">
		<constructor-arg ref="logger"/>
	</bean>
	<bean id="customerDAO" class="data.customer.CustomerRepositoryImpl">
		<constructor-arg ref="logger"/>
	</bean>

	<bean id="logger" class="integration.LoggerImpl"/>
	-->
	<context:annotation-config/>
	<!--
	<context:component-scan base-package="service, integration, data"/>
	-->
	<context:component-scan base-package="*"/>
</beans>